@import "..//..//..//colors.scss";
@import "..//..//..//media.scss";
@import "..//..//..//spacing.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=My+Soul&display=swap");

.task {
  padding: 24px;
  border-radius: 16px;
  overflow-y: auto;
  display: flex;
  @media (max-width: $breakpoint-desktop) {
    padding: 24px 32px;
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 16px 24px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 12px 16px;
  }
}

.name,
.assignace,
.data,
.time,
.category,
.efort {
  flex: 1 1 300px;
   
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 10px;
}
.span {
  font-size: 20px;
}
.heading {
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

.name {
  border: 1px solid $gray-200;
}
.assignace {
  border: 1px solid $gray-200;
}
.data {
  border: 1px solid $gray-200;
}
.time {
  border: 1px solid $gray-200;
}
.category {
  border: 1px solid $gray-200;
}
.efort {
  border: 1px solid $gray-200;
}
