$padding-xxs: 4px;    // ძალიან პატარა
$padding-xs:  8px;    // პატარა
$padding-sm:  12px;   // მცირე (small)
$padding-md:  16px;   // სტანდარტული
$padding-lg:  24px;   // დიდი
$padding-xl:  32px;   // ძალიან დიდი
$padding-xxl: 48px;   // გარე ბლოკებისათვის


$margin-xxs: 4px;
$margin-xs:  8px;
$margin-sm:  12px;
$margin-md:  16px;
$margin-lg:  24px;
$margin-xl:  32px;
$margin-xxl: 48px;