@import "..//..//colors.scss";
@import "..//..//media.scss";
@import "..//..//spacing.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=My+Soul&display=swap");


.tasks{
  background-color: $white;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (max-width: $breakpoint-desktop) {
    padding: 24px 32px;
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 16px 24px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 12px 16px;
  }

}


 